<div class="loginArea col-md-12">
			<div class="loginBox">
				<div class="titleBar">
					<h1>My Weather App</h1>  
					<h3 class= "welcomeLoginHeading">Please log-in or register</h3>
				</div>
				<div class="loginAreaInputs">
					

					<div>Log-In or Create Account</div>
						<input class="loginInput" type="email" ng-model="email" placeholder="email">
						<input class="loginInput" type="password" ng-model="password" placeholder="password">
					</br>
						<div class="loginButtonDiv">
							<button class="btn btn-warning inputButtons" ng-click="createUser()">Create Account</button>
							<button class="btn btn-warning inputButtons" ng-click="loginUser()">Login</button>
						</div>
				</div>
			</div>
		</div>